# vim swap files
.*.sw?
.sw?

# Nested build directory
build

# CLion project configuration
.idea

# vscode project configuration
.vscode

# IEGenLib creates this during build
lib/installed

# IEGenLib
lib/IEGenLib
